<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <div class="row">
    <div class="col-xs-12 col-xs-6 box" *ngIf="enableNCDCondition">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text"
          >{{ current_language_set?.casesheet?.ncdCondition }}*</mat-label
        >
        <mat-select
          class="input-full-width"
          name="ncdScreeningCondition"
          multiple
          (selectionChange)="changeNcdScreeningCondition($event.value, $event)"
          [(ngModel)]="temp"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let ncdCareCondition of ncdCareConditions"
            [value]="ncdCareCondition.screeningCondition"
          >
            {{ ncdCareCondition.screeningCondition }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-xs-6 box" *ngIf="!enableNCDCondition">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          current_language_set?.casesheet?.ncdCondition
        }}</mat-label>
        <mat-select
          class="input-full-width"
          name="ncdScreeningCondition"
          multiple
          (selectionChange)="changeNcdScreeningCondition($event.value, $event)"
          [(ngModel)]="temp"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let ncdCareCondition of ncdCareConditions"
            [value]="ncdCareCondition.screeningCondition"
          >
            {{ ncdCareCondition.screeningCondition }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12" *ngIf="isNcdScreeningConditionOther">
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          current_language_set?.ncdConditionOther
        }}</mat-label>
        <textarea
          matInput
          allowText="textAreaValidator"
          matTextareaAutosize
          defaultNull
          name="ncdScreeningConditionOther"
          maxlength="20"
          formControlName="ncdScreeningConditionOther"
        >
        </textarea>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-xs-6 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          current_language_set?.casesheet?.typeOfNcd
        }}</mat-label>
        <mat-select
          class="input-full-width"
          name="ncdCareType"
          formControlName="ncdCareType"
        >
          <mat-option
            *ngFor="let ncdCareType of ncdCareTypes"
            [value]="ncdCareType"
          >
            {{ ncdCareType.ncdCareType }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="display: none">
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          current_language_set?.casesheet?.ncdComplication
        }}</mat-label>
        <textarea
          matInput
          allowText="textAreaValidator"
          matTextareaAutosize
          defaultNull
          name="ncdComplication"
          maxlength="300"
          formControlName="ncdComplication"
        >
        </textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header class="mat-expansion-panel-header tabcolor m-t-5">
        <h4>{{ current_language_set?.casesheet?.provisionalDiag }}</h4>
      </header>
      <ng-container formArrayName="provisionalDiagnosisList">
        <div class="row align-items-center m-t-10"
          *ngFor="let diagnosis of provisionalDiagnosisControls; let i = index; let isLast = last">
          <ng-container [formGroupName]="i">
            <!-- Diagnosis Input -->
            <div class="col-xs-12 col-sm-8 col-md-9">
              <mat-form-field class="input-full-width" appearance="fill">
                <mat-label>{{ current_language_set?.casesheet?.provisionalDiag }}</mat-label>
                <input matInput type="text" autocomplete="off" name="viewProvisionalDiagnosisProvided"
                  formControlName="viewProvisionalDiagnosisProvided" minlength="3" maxlength="100" required #diagnosisInput
                  [matAutocomplete]="autoDiagnosis" (keyup)="onDiagnosisInputKeyup(diagnosisInput.value, i)" />
              </mat-form-field>
    
              <mat-autocomplete #autoDiagnosis="matAutocomplete" appAutocompleteScroller [threshold]="0.6"
                (nearEnd)="onAutoNearEnd(i)" (panelReady)="onPanelReady(i, $event)" autoActiveFirstOption
                [displayWith]="displayDiagnosis" (optionSelected)="onDiagnosisSelected($event.option.value, i)">
                <mat-option *ngFor="let diag of suggestedDiagnosisList[i]" [value]="diag">
                  {{ diag.term }}
                </mat-option>
                <mat-option *ngIf="loadingMore[i]" disabled>Loading…</mat-option>
                <mat-option *ngIf="noMore[i]" disabled>End of results</mat-option>
              </mat-autocomplete>
            </div>
    
            <!-- Action Buttons (Add & Remove) -->
            <div class="col-xs-12 col-sm-4 col-md-3 d-flex align-items-center">
              <!-- Add Button -->
              <button mat-mini-fab color="primary" type="button" class="mat-add-btn m-r-10" *ngIf="isLast"
                [disabled]="checkProvisionalDiagnosisValidity(diagnosis)" (click)="addDiagnosis()">
                {{current_language_set?.common?.add}}
              </button>
    
              <!-- Remove Button -->
              <button mat-mini-fab color="warn" type="button" class="mat-remove-btn" *ngIf="
                            diagnosis.get('provisionalDiagnosisList')?.disabled ||
                            i !== 0 ||
                            (i === 0 &&
                              generalDiagnosisForm.get('provisionalDiagnosisList')?.value[i]
                                ?.viewProvisionalDiagnosisProvided)
                          " (click)="removeDiagnosisFromList(i, diagnosis)">
                {{current_language_set?.common?.remove}}
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
      *ngIf="visitCategory !== 'NCD care'"
    >
      <header class="mat-expansion-panel-header tabcolor m-t-5">
        <h4>
          {{ current_language_set?.DiagnosisDetails?.specialistdignosis }}
        </h4>
      </header>
      <mat-form-field class="input-full-width">
        <textarea
          [readonly]="!specialist"
          matInput
          allowText="textAreaValidator"
          defaultNull
          matTextareaAutosize
          maxlength="300"
          name="specialistAdvice"
          formControlName="specialistDiagnosis"
        >
        </textarea>
      </mat-form-field>
    </div>
  </div> -->
  </div>
</div>
