<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <header class="mat-expansion-panel-header m-t-5 tabcolor">
          <h4>{{ current_language_set?.casesheet?.provisionalDiag }}</h4>
        </header>
        <ng-container formArrayName="provisionalDiagnosisList">
          <div
            class="row"
            *ngFor="
              let diagnosis of provisionalDiagnosisControls;
              let i = index;
              let isLast = last
            "
          >
            <ng-container [formGroupName]="i">
              <div class="col-xs-12 col-sm-9 box">
                <mat-form-field class="input-full-width">
                  <input
                    #provisionalDiagnosisInput
                    matInput
                    type="text"
                    formControlName="viewProvisionalDiagnosisProvided"
                    minlength="3"
                    maxlength="100"
                    [matAutocomplete]="autoDiagnosis"
                    (keyup)="
                      onDiagnosisInputKeyup(
                        'provisional',
                        provisionalDiagnosisInput.value,
                        i
                      )
                    "
                  />
                </mat-form-field>

                <mat-autocomplete
                  #autoDiagnosis="matAutocomplete"
                  appAutocompleteScroller
                  [threshold]="0.6"
                  (nearEnd)="onAutoNearEnd('provisional', i)"
                  (panelReady)="onPanelReady('provisional', i, $event)"
                  [displayWith]="displayDiagnosis"
                  (optionSelected)="
                    onDiagnosisSelected('provisional', $event.option.value, i)
                  "
                >
                  <mat-option
                    *ngFor="let diag of state.provisional.suggested[i]"
                    [value]="diag"
                  >
                    {{ diag.term }}
                  </mat-option>
                  <mat-option *ngIf="state.provisional.loadingMore[i]" disabled
                    >Loading…</mat-option
                  >
                  <mat-option *ngIf="state.provisional.noMore[i]" disabled
                    >End of results</mat-option
                  >
                </mat-autocomplete>
              </div>
              <div
                class="col-xs-12 col-sm-3 box pull-right"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <button
                  mat-mini-fab
                  type="button"
                  color="warn"
                  class="mat_warn_circle"
                  style="margin-right: 5px"
                  *ngIf="
                    diagnosis.get('provisionalDiagnosisList')?.disabled ||
                    i !== 0 ||
                    (i === 0 &&
                      generalDiagnosisForm.get('provisionalDiagnosisList')
                        ?.value.viewProvisionalDiagnosisProvided !== null &&
                      generalDiagnosisForm.get('provisionalDiagnosisList')
                        ?.value.viewProvisionalDiagnosisProvided !== '')
                  "
                  (click)="removeProvisionalDiagnosis(i, diagnosis)"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button
                  mat-mini-fab
                  type="button"
                  class="mat_blue_circle"
                  color="primary"
                  *ngIf="isLast"
                  [disabled]="checkProvisionalDiagnosisValidity(diagnosis)"
                  (click)="addProvisionalDiagnosis()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="col-xs-12 col-sm-6">
        <header class="mat-expansion-panel-header m-t-5 tabcolor">
          <h4>{{ current_language_set?.common?.confirmDiagnosis }}</h4>
        </header>
        <ng-container formArrayName="confirmatoryDiagnosisList">
          <div
            class="row"
            *ngFor="
              let confirmatoryDiagnosis of getConfirmatoryDiagnosisList();
              let i = index;
              let isLast = last
            "
          >
            <ng-container [formGroupName]="i">
              <div class="col-xs-12 col-sm-8 col-md-9">
                <mat-form-field class="input-full-width">
                  <input
                    #confirmatoryDiagnosisInput
                    matInput
                    type="text"
                    formControlName="viewConfirmatoryDiagnosisProvided"
                    minlength="3"
                    maxlength="100"
                    [matAutocomplete]="autoConfirmDiagnosis"
                    (keyup)="
                      onDiagnosisInputKeyup(
                        'confirmatory',
                        confirmatoryDiagnosisInput.value,
                        i
                      )
                    "
                  />
                </mat-form-field>

                <mat-autocomplete
                  #autoConfirmDiagnosis="matAutocomplete"
                  appAutocompleteScroller
                  [threshold]="0.6"
                  (nearEnd)="onAutoNearEnd('confirmatory', i)"
                  (panelReady)="onPanelReady('confirmatory', i, $event)"
                  [displayWith]="displayDiagnosis"
                  (optionSelected)="
                    onDiagnosisSelected('confirmatory', $event.option.value, i)
                  "
                >
                  <mat-option
                    *ngFor="let diag of state.confirmatory.suggested[i]"
                    [value]="diag"
                  >
                    {{ diag.term }}
                  </mat-option>
                  <mat-option *ngIf="state.confirmatory.loadingMore[i]" disabled
                    >Loading…</mat-option
                  >
                  <mat-option *ngIf="state.confirmatory.noMore[i]" disabled
                    >End of results</mat-option
                  >
                </mat-autocomplete>
              </div>
              <div
                class="col-xs-12 col-sm-3 box pull-right"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <button
                  mat-mini-fab
                  type="button"
                  color="warn"
                  class="mat_warn_circle"
                  style="margin-right: 5px"
                  *ngIf="
                    i !== 0 ||
                    (i === 0 &&
                      (confirmatoryDiagnosis.touched ||
                        confirmatoryDiagnosis.get('confirmatoryDiagnosis')
                          ?.disabled))
                  "
                  (click)="
                    removeConfirmatoryDiagnosis(i, confirmatoryDiagnosis)
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button
                  mat-mini-fab
                  type="button"
                  class="mat_blue_circle"
                  color="primary"
                  *ngIf="isLast"
                  [disabled]="
                    checkConfirmatoryDiagnosisValidity(confirmatoryDiagnosis)
                  "
                  (click)="addConfirmatoryDiagnosis()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="deathDuringPNCCaseRecord">{{
            current_language_set?.casesheet?.matDeath
          }}</label>
          <div class="clearfix"></div>
          <mat-radio-group
            name="isMaternalDeath"
            id-="isMaternalDeath"
            formControlName="isMaternalDeath"
            (change)="checkWithDeathDetails()"
          >
            <mat-radio-button color="primary" [value]="true">{{
              current_language_set?.common?.yes
            }}</mat-radio-button>
            <mat-radio-button color="primary" [value]="false">{{
              current_language_set?.common?.no
            }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <header class="mat-expansion-panel-header tabcolor">
          <h4>
            {{ current_language_set?.DiagnosisDetails?.specialistdignosis }}
          </h4>
        </header>
        <mat-form-field class="input-full-width">
          <textarea
            [readonly]="!specialist"
            matInput
            allowText="textAreaValidator"
            defaultNull
            matTextareaAutosize
            maxlength="300"
            name="specialistAdvice"
            formControlName="specialistDiagnosis"
            readonly
          >
          </textarea>
        </mat-form-field>
      </div> -->
    </div>

    <div class="row" *ngIf="isMaternalDeath">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.placeOfDeath
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            allowText="alphaspace"
            name="placeOfDeath"
            id="placeOfDeath"
            formControlName="placeOfDeath"
            maxlength="50"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.causeOfDeath
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            allowText="alphaspace"
            name="causeOfDeath"
            id="causeOfDeath"
            formControlName="causeOfDeath"
            maxlength="50"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.dateOfDeath
          }}</mat-label>
          <input
            matInput
            [max]="today"
            [matDatepicker]="picker"
            formControlName="dateOfDeath"
            [min]="minimumDeathDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>
</div>
